In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)  # Converts dictionary into a DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [2]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', None],
    'Age': [25, None, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
print(df.isnull())  # Identifies missing values
print(df.isnull().sum())  # Counts missing values per column

    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
Name    1
Age     1
City    0
dtype: int64

In [3]:
print(df['Name'])  # Access column using dictionary-style indexing
print(df.Age)      # Access column using dot notation

0    Alice
1      Bob
2     None
Name: Name, dtype: object
0    25.0
1     NaN
2    35.0
Name: Age, dtype: float64

In [5]:
filtered_df = df[df['Age'] > 25]  # Selects rows where Age > 25
print(filtered_df)

   Name   Age     City
2  None  35.0  Chicago

In [6]:
data = {
    'Department': ['IT', 'HR', 'IT', 'HR', 'IT'],
    'Salary': [60000, 55000, 70000, 58000, 75000]
}

df = pd.DataFrame(data)

# Grouping by Department and calculating mean, sum, and max salary
grouped_df = df.groupby('Department').agg({'Salary': ['mean', 'sum', 'max']})  
print(grouped_df)

#select department, avg(salary) as avg_salary from employees groupby dept having dept in['teaching', 'non-teaching']

                  Salary
                    mean     sum    max
Department
HR          56500.000000  113000  58000
IT          68333.333333  205000  75000